@model IEnumerable<Ventas.Dominio.Modelos.Categoria>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div>
                @Html.ActionLink("Agregar Categoria", "AgregarCategoria", "Categoria", null, new { @class = "btn btn-primary" })
            </div><br />

            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Categoria_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#data").DataTable();
        })
    </script>
}
